<!-- <app-one></app-one>
<app-two></app-two>
<app-three></app-three> -->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="one">One</a>
                <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="two">Two</a>
                <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="three">Three</a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>

