h1 {
    color: blue;
}

h3 {
    border: 5px solid black;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gainsboro;
    cursor: pointer;
    user-select: none;
}

.red-text {
    color: red;
    font-size: 25px;
}

.underline-text {
    text-decoration: underline;
}

.consolas {
    font-family: consolas;
}